// XS
.page-comics {
  .logo-block {
    padding: 50px 0;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
      url("../../Images//bg-marvel.jpg");
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;

    #logo {
      width: 200px;
      margin: 20px auto;
    }
  }

  .filter-block {
    padding: 25px 0;
    background-color: #ed1d24;
  }

  .block-comics-list {
    margin-top: 50px;
    margin-bottom: 50px;

    .loading {
      text-align: center;
      min-height: calc(100vh - 640px);
      padding: 50px;
    }

    .fab-send-to-mail {
      position: fixed;
      right: 20px;
      bottom: 20px;

      .loading-button {
        width: 24px !important;
        height: 24px !important;
        color: #ffffff;
      }

      .MuiTypography-button {
        margin-left: 5px;
      }
    }
  }

  footer {
    background-color: #ed1d24;

    .MuiTypography-caption {
      padding: 8px;

      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}

// Sm
@media (min-width: 600px) {
}

// Md
@media (min-width: 960px) {
}

// Lg
@media (min-width: 1280px) {
}

// Xl
@media (min-width: 1920px) {
}
