// XS
.filter {
  p,
  span,
  label,
  .MuiSelect-root,
  .MuiSelect-icon,
  .MuiFormLabel-root.Mui-focused,
  .MuiInputBase-input {
    color: #ffffff;
  }

  .MuiOutlinedInput-root {
    .MuiOutlinedInput-notchedOutline {
      border-color: rgba(255, 255, 255, 0.23) !important;
    }

    &:hover {
      .MuiOutlinedInput-notchedOutline {
        border-color: rgba(255, 255, 255, 0.87) !important;
      }
    }
  }

  form {
    margin: 25px 0;
  }

  .selected-block {
    .selected-checkbox,
    .selected-total {
      text-align: center;
    }
  }
}

// Sm
@media (min-width: 600px) {
  .filter {
    .selected-block {
      .selected-checkbox {
        text-align: left;
      }

      .selected-total {
        text-align: right;
      }
    }
  }
}

// Md
@media (min-width: 960px) {
}

// Lg
@media (min-width: 1280px) {
}

// Xl
@media (min-width: 1920px) {
}
